* {
  background-color: #ffffee;
  color: blue;
}
*:hover {
  color: red;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

 /* color, background, border  */
nav li { 
  color: red;
}

.logo {
   width: auto;
   height: 50px; 
}

table, th, tr {
  cellspacing: 0;
  border: 2px solid greenyellow;
}

main p {
  line-height: 1.5;
}